body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

iframe {
  border: 0;
  height: 92%;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*SITE HEADER*/
.navbar {
	background-color: #3C5163;
}

#brand-image {
  height: 50px;
}

.twdb {
  color: white;
}

.twdb:hover {
  color: #e6e6e6;
}

/* .intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
} */

/* 16x9 Aspect Ratio */
/* .intrinsic-container-16x9 {
  padding-bottom: 56.25%;
} */

/* 4x3 Aspect Ratio */
/* .intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
} */
