body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

iframe {
  border: 0;
  height: 92%;
  width: 100%;
}

a,p,h3 {
  font-family: 'Montserrat', sans-serif;
}

/*SITE HEADER*/
.navbar {
	background-color: #3C5163;
}

#brand-image {
  height: 50px;
}

#card-menu {
  margin-bottom: 40px;
}

.twdb {
  color: white;
  text-shadow: 5px 5px 10px #262626;
}

.twdb:hover {
  color: #cccccc;
}
