body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

iframe {
  border: 0;
  height: 92%;
  width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/*SITE HEADER*/
.navbar {
	background-color: #3C5163;
}

#brand-image {
  height: 50px;
}

#card-menu {
  margin-bottom: 20px;
}

.twdb {
  color: white;
}

.twdb:hover {
  color: #e6e6e6;
}
